html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    display: inline-block;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

/* base css start #28 */
p {
    font-size: 16px;
    line-height: 1.2em;
    color: #565656;
}
a {
    color: #444444;
    text-decoration: none;
}
a:hover {
    color: #7c4fe0;
}

.main-tittle{
    color: #fff;
    font-size: clamp(28px, 6vw, 56px);
    margin-bottom: 0.4em;
}

.section-tittle{
    font-size: clamp(24px, 5vw, 40px);
}

.form-tittle{
    font-size: clamp(25.2px, 28px);
    margin-bottom: 0.5em;
}

.box-tittle{
    font-size: clamp(18px, 20px);
    margin-bottom: 0.28em;
}

.faq-tittle{
    font-size: 16px;
    margin-bottom: 1em;
}

.bg-gray {
    background-color: #f6f9fe;
}

.bg-white {
    background-color: #FFF;
}
/* base css end */