html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins, sans-serif' ;
}

/* base css start #28 */
p {
    font-size: 16px;
    line-height: 1.2em;
    color: #565656;
}
a {
    color: #444444;
    text-decoration: none;
}
a:hover {
    color: #7c4fe0;
}
/* base css end */