.logo {
    float: left;
}
.nav-bar {
    float: right;
}
.nav-bar > a {
    display: inline-block;
    margin: 16.5px;
    color: #f8f9fa;
    text-decoration: none;
}
.nav-bar > a:first-child{
    margin-left: 0;
}