.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form > input,
.form > textarea {
    font-family: inherit;
    font-size: inherit;
    padding:0 0.5em;
    color: #565656;
    line-height: 2em;
    border: none;
    width: 100%
}

.form > textarea {
    min-height: 150px;
    max-height: 400px;
    resize: vertical;
}

.form.mail {
    justify-content: center;
}

.form .btn {
    background: none;
    background-color: #7c4fe0;
}