/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';
/* components */
@import '../components/form.css';
@import '../components/tittle.css';
@import '../components/icon-box.css';
@import '../components/text-link.css';
@import '../components/button.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* header: start */
header .row {
    padding: 0 !important;
}
.header-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    float: left;
}
.header-col {
    color: #fff;
}
.header-col .fa-bars {
    color: inherit;
    font-size: 35px;
    line-height: 1em;
    padding: 0.25em;
    background: none;
    border: none;
    font-weight: 100;
    cursor: pointer;
}
.nav-bar {
    color: #f8f9fa;
}
.nav-bar > a {
    display: inline-block;
    margin: 16.5px;
    color: inherit;
    text-decoration: none;
}
.nav-bar > a:first-child{
    margin-left: 0;
}
.nav-bar > a:hover {
    color: #b7aad4;
}
/* delete after container fix? start */
header.container {
    background: transparent;
}
/*del cont fix end */
.sticky-header {
    transition: 0.5s;
    position: fixed;
    z-index: 2;
    background-color: #fff !important;
}
.sticky-header-colors {
    color: #7e8085;
}
.sticky-header-colors > a:hover {
    color: #2c2e30;
}
.exit-btn{
    font-size: 20px;
    line-height: 2em;
    width: 2em;
    border: none;
    font-weight: 100;
    background-color: transparent;
    justify-self: right;
    cursor: pointer;
}
.burger-nav-bar {
    font-size: 14px;
    float: right;
    width: 320px;
    height: 100vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:[row1-start] 40px [row1-end] repeat(6, 3.5em [row-start])
}
.burger-nav-bar > a {
    font-size: inherit;
    line-height: 1.5em;
    color: #7e8085;
    padding: 1em 1.5em;
    border-bottom: 1px solid #eee;
}
.burger-nav-bar > a:hover {
    color: #000;
}
/* header: end */

/* Hero: start */
.tittle-form-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15px;
}

.fixed-bg {
    height: 110vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -2;
}

@media (min-width: 992px){
    .fixed-bg {
        height: 90vh;
    }
}

.fixed-bg > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.fixed-bg > div {
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
    background: linear-gradient(-50deg,#8631e8 0%, #4628dc 100%);
    opacity: 0.9;
}
/* delete after container fix? start */
.container.hero {
    background: transparent;
}
/*del cont fix end */
.tittle-form-row .main-para {
    text-align: left;
    color: #fff;
    line-height: 1.5em;
}

.trail-btn { 
    padding: 0.8em  1.8em;
    text-align: center;
    user-select: none;
    background-color: #fff;
    border-radius: 2.4em;
    color: #444;
    font-size: 15px;
    line-height: 1em;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 20px 0;
}

.trail-btn:hover {
    color: #fff;
    background: linear-gradient(-50deg,#8731E8 0%, #4528DC 100%);
}

@media (min-width: 576px)  {
    .trail-btn {
        padding: 1.2em  2em;
    }
}

.hero  .form {
    align-items: center;
    padding: 3em;
    box-shadow: 0 1em 3em rgba(0,0,0,.2);
    background-color: #fff;
    border-radius: 4px;
}

.hero  .form .text-link {
    font-size: 13px;
}

.hero.container-fluid {
    position: relative;
    background-color: #fff;
    height: 30px;
}

.hero svg {
    transform: rotate(180deg);
    position: absolute;
    bottom: 29px;
    z-index: -1;
}

@media (min-width: 768px) {
    .hero.container-fluid {
        margin-top: 100px;
    }
}
/* Hero: end */

/* Express Functionality: start */
.premium {
    font-size: 14px;
    padding: 0.5em 2em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 0 0.25em 0.5em rgba(0,0,0,.075);
}

.premium > span {
    color: #7c4fe0;
}

/* I tittle komponenta? tittle start*/
.tittle.tittle-left *{
    text-align: left;
}

.tittle.tittle-left > .section-tittle::after{
    left: 0;
    transform: none;
}
/* tittle end */
.express-grid {
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 768px) {
    .express-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 992px) {
    .express-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.express-box {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    text-align: center;
    padding: 3em;
    border-radius: 1em;
    box-shadow:  0.5em 0.5em 2.5em 0.3em rgba(0,0,0,.075);
    margin: 15px !important;
    transition: linear 0.15s;
}

.express-box > .box-img {
    width: 100%;
    height: 50px;
    object-fit: contain;
    user-select: none;
}

.express-box:hover {
    box-shadow: 0.5em 0.5em 2.5em 0.3em rgba(0,0,0,.175);

    transform: translateY(-5%);
}
/* Express Functionality: end */

/* Clients section: start */
.client-img,
.client-img >img {
    float: left;
    width: 100%;  
}

.client-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.icon-row::before {
    content: "✔";
    margin-right: 10px;
    color: #764fe0;
}

.icon-holder {
    display: flex;
}

.client-img:last-child {
    margin-top: 40px;
}
/* Clients section: end */

/* Device section: start */
.kaire{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    }

.antraste{
    display: flex;
    flex-direction: column;
}
.kaire > .antraste > h2{
    color: #222222;
    font-size: clamp(24px, 5vw, 40px);
    font-weight: 600;
    position: relative;
    margin-bottom: 20px;
}

.pomidoras{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
}
.container > .row > .desine{
    display: flex;
    justify-content: center;
}
.desine > img{
    object-fit: contain;
    }
/* Device section: end */

/* How sApp works?: start */
.app-container {
    background: linear-gradient(-50deg,#8731E8 0%, #5236dc 80%);
    text-align: center;
}

.app-container .section-tittle {
    color: #fff;
}

.app-container p, .white-text, .tittle > h2 {
    color:#fff;
    line-height: 1.5em;
}

.app-container .tittle{
    margin-bottom: 50px;
    margin-top: 40px;
}

.app-img {
    width: 65px;
    margin-bottom: 10px;
}

.info {
    padding: 30px;
}

.app-container .section-tittle::after {
    display: none;
}

@media (min-width: 576px){
    .app-container .box-tittle {
        font-size: 18px;
    }
}

@media (min-width: 992px){
    .app-container .box-tittle {
        font-size: 20px;
    }
}
@media (min-width: 1200px){
    .app-container .box-tittle {
        font-size: 22px;
    }
}
/* How sApp works?: end */

/* Simple & Beautiful Interface - section: start */
/* placeholder start */
.carousel-placeholder {
    height: 480px;
    background-color: red;
    object-fit: cover;
    object-position: center;
}

@media (min-width:576px) {
    .carousel-placeholder {
        height: 300px;
    }
}

@media (min-width:768px) {
    .carousel-placeholder {
        height: 400px;
    }
}

@media (min-width:992px) {
    .carousel-placeholder {
        height: 550px;
    }
}

@media (min-width:1200px) {
    .carousel-placeholder {
        height: 500px;
    }
}
/* placeholder end */
.testimonial {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    text-align: center;
    padding: 3em;
}

.testimonial > img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
    border: 1px solid gray;
}

.testimonial > .tst-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 16px;
    color: #222;
}

.tst-name {
    font-weight: bold;
    font-size: 20px;
}

.tst-rating {
    color: #ffa200;
    letter-spacing: 3px;
}
/* Simple & Beautiful Interface - section: end */

/* Unlock Full Power Of sApp - section: start */
.row.plans {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5em;
}

.plan-box,
.plan-box .price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
}

.plan-box {
    padding: 3em;
    border-radius: 1em;
    position: relative;
}

.price-img {
    width: 100%;
    height: 80px;
    object-fit: contain;
    object-position: center;
}

.price-name {
    font-size: 20px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 1em;
}

.price-value {
    font-size: 56px;
    line-height: 1em;
}

.price-value > .currency{
    font-size: 30px;
    line-height: 1.3em;
    vertical-align: bottom;
}

.plan-features {
    text-align: center;
    list-style-type: none;
    width: 100%;
    line-height: 1em;
}

.plan-features > li {
    border-bottom: 1px solid #dee2e6;
    padding: 1.5em 0;
}

.plan-features > li:first-child {
    border-top: 1px solid #dee2e6;
}

.btn.btn-out {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
}
/* Unlock Full Power Of sApp - section: end */

/* FAQ: start */
.container > .faq > .faq-kaire{
    margin-top: 2em;
}
.container > .faq > .faq-desine{
    margin-top: 2em;
}

.container > .faq > .faq-kaire > .faq-box{
    margin-top: 2em;
}
.container > .faq > .faq-desine > .faq-box{
    margin-top: 2em;
}

.container > .faq > .faq-kaire > .faq-box > .faq-tittle{
    user-select: none;
}
.container > .faq > .faq-desine > .faq-box > .faq-tittle{
    user-select: none;
}

/* FAQ: end */

/* Our Team Experts section: start */
.team {
    display: grid;
}

.team > .content {
    display: grid;
    gap: 30px;
}
.team > .content > .bubble {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 95px;
    overflow: hidden;
    position: relative;
}

.team .bubble > .main-view {
    width: 100%;
    position: relative;
}

.team .main-view > .team-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s;
}

.team .bubble:hover .team-img {
    transform: scale(1.2);
}

.team .main-view > .hover-view {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 95px;
    background: rgba(124, 79, 224, 0.9);
    transform: scale(0);
    transition: all 0.5s;
}
.team .bubble:hover .hover-view {
    transform: scale(1);
}

.hover-view > p,
.hover-view > .bubble-socials {
    position: relative;
    top: 32%;
    color: #fff;
    text-decoration: none;
    line-height: 1.6;
    font-weight: 600;
    text-align: center;
}

.hover-view > .expert-name {
    font-size: 18px;
}

.hover-view > .expert-position {
    font-size: 15px;
}

.hover-view > .bubble-socials {
    margin-top: 15px;
    margin-left: 25%;
    margin-right: 25%;
}

.hover-view > .bubble-socials > a {
    text-decoration: none;
    color: #fff;
    transform: scale(1);
    transition: transform 0.3s;
}

.hover-view > .bubble-socials > a:hover {
    transform: scale(1.3);
}

@media (min-width: 576px) {
    .team > .content {
        grid-template-columns: 1fr 1fr;
    }
    .team > .content > .bubble {
        width: 90%;
    }
    .hover-view > p,
    .hover-view > .socials .icon {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .team > .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .team > .content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Our Team Experts section: end */

/* sApp is available for all devices - section: start */
.sApp{
    text-align: center;
    margin-top: 30px;
}
.container-sApp  {
    padding-top: 70px;
    min-height: 500px;
    background: linear-gradient( 0deg,rgba(16, 16, 45, 0.8),rgba(16, 16, 45, 0.8)),
        url(../../img/download-bg.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-sApp .section-tittle, 
.container-sApp .main-para {
    color: #fff;
}
.container-sApp > .row .section-tittle::after {
    display: none;
}
.sApp-italic {
    font-style: italic;
}
.sApp > .sApp-img {
    display: inline-block;
}
@media (min-width: 320px){
    .sApp-img {
        width: 155px;
    }
}
@media (min-width: 576px){
    .sApp-img {
        width: 190px;
    }
}
/* sApp is available for all devices - section: end */

/* Subscribe to get updates - section: start */
.fonas{
    background: url(../../img/zemelapis.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}
.container > .row > .subscribe{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container > .row > .subscribe > .section-tittle{
    text-align: center;
}
.container > .row > .subscribe > .section-tittle::after {
    display: none;
}
.container > .row > .subscribe > p{
    text-align: center;
    line-height: 20px;
}

.container > .row > .subscribe > .form > input{
    text-align: center;
    border-radius: 7px;
    height: 50px;
    font-size: 15px;
}

.container >.row > .subscribe > .form > button {
    margin-top: 0;
}
/* Subscribe to get updates - section: end */

/* Stay Tuned section: start */
.stay-tuned-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em !important;
}

.stay-tuned-left > a {
    display: flex;
    align-items: center;
}

.stay-tuned-left > a > .icon-box{
    color: #fff;
    background-color: #7c4fe0;
}

.form > .btn > .fa {
    margin-right: 1.5em;
}
/* Stay Tuned section: end */

/* footer: start  */
footer.container > .row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

footer.container > .row > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-logo {
    display: inline-block;
    width: 100%;
    height: 52px;
    object-fit: contain;
    object-position: left;
}

footer .socials {
    display: flex;
}

footer.container  nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.dwl-apps {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.dwl-apps > .app-btn {
    width: 160px;
    display: inline-block;
    margin-bottom: 0.5em;
}

.dwl-apps > .app-btn > img {
    width: 100%;
    float: left;
}
.bottom-line  {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    flex-direction: row;
    justify-content: space-between;
}
/* footer: end  */

/* Back to top: start  */
.bctt {
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    position: fixed;
    line-height: 2em;
    padding: 0 0.5em;
    background-color: rgba(35,35,35,0.65);
    color: #fff;
    border-radius: 0.25em;
}

.bctt:hover {
    color:#fff;
}
/* Back to top: end  */
